#__root__custom_react_app__ {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.router__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.router__container > a {
  text-decoration: none;
  border: 1px solid black;
  padding: 10px;
  border-radius: 2%;
}